/* body {
    background-color: black;
} */

#enemyBox {
    background-color: red;
}

#playerBox {
    background-color: blue;
    color: white;
}

#actionBox {
    background-color: black;
    color: white;
}

#characterBox {
    background-color: green;
    color: white;
}

#logBox {
    background-color: cyan;
}

.playerPic {
    height: 100px;
    width: 100px;
    border: 3px;
    border-color: lightblue;
    border-style: solid;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

.picBanner::first-letter {
    text-transform: capitalize;
}