body {
    background-color: black;
}

#enemyBox {
    background-color: red;
    border-radius: 10px;
}

#playerPortrait, #enemyPortrait {
    height: 200px;
    width: 200px;
}

#atkPortrait {
    height: 100px;
    margin-top: 35%;
}

#playerBox {
    background-color: rgb(97, 194, 226);
    border-radius: 10px;
    color: white;
}

#actionBox {
    background-color: transparent;
    color: white;
}

#characterBox {
    background-color: grey;
    color: white;
}

#logBox {
    background-color: grey;
}

.playerPic {
    height: 100px;
    width: 100px;
    border: 3px;
    border-color: lightgreen;
    border-style: solid;
    border-radius: 10px;
    margin: 0 10px 0 10px;
}

.picBanner::first-letter {
    text-transform: capitalize;
}

.playerHP {
    position: relative;
    left: 18px;
    bottom: 70px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.charDiv {
    display: inline-block;
    height: 120px;
}